{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<style>
  #adjacent_table:hover a {
    opacity: 0.2;
  }
  #adjacent_table:hover tr:hover a {
    opacity: 1;
  }
</style>

<h1>Adjacencies</h1>

<div class="container">
  <div class="col-md-8">
    <table id = "adjacent_table" class="table">
      <thead >
        <th>
        </th>
        {% for department_col in departments%}
        <th class="text-center">
          {{ department_col.name }}
        </th>
        {% endfor %}
      </thead>
      <tbody>
        {% for department_row in departments %}
        <tr>
          <th class="text-right">
            <a>
              {{ department_row.name }}
            </a>
          </th>
          {% for department_col in departments %}
          <td class="text-center" width = 200px>
            {% if check_adj(department_row.name,department_col.name) == False%}
            <a href="{{ url_for('add_adjacency',department1=department_row.name,department2=department_col.name) }}">
              <i class="material-icons">check_box_outline_blank</i>
            </a>
            {% else %}
            <a href="{{ url_for('del_adjacency',department1=department_row.name,department2=department_col.name) }}">
              <i class="material-icons">check_box</i>
            </a>
            {% endif %}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <table class="table table-hover" width=100%>
      <thead>
        <th width=30%>Name</th>
        <th>Adjacent to</th>
      </thead>

      {% for department in departments %}
      <tbody>
        <tr>
          {% include '_department_adjacency.html' %}
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
