{% extends 'bootstrap/base.html' %}

{% block title %}
{% if title %}{{ title }}{% else %}Generative{% endif %}
{% endblock %}

{%- block styles %}
<!-- <link rel="stylesheet" href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}">  -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
{%- endblock styles %}

{% block scripts %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
<script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>

<!-- <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script> -->
<!-- <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script> -->

{%- endblock scripts %}

<nav class="navbar navbar-expand-lg navbar-dark primary-color">

{% block navbar %}

<div class="container">
<nav class="navbar navbar-expand-lg navbar-dark primary-color">
  {% set url = request.url_rule %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    {% if request.url_rule|string == url_for('index')|string %}
    <a class="nav-link active" href="{{ url_for('index') }}">Home</a>
    {% else %}
    <a class="nav-link" href="{{ url_for('index') }}">Home</a>
    {% endif %}
  </li>
  <li class="nav-item">
    {% if request.url_rule|string == url_for('departments')|string %}
    <a class="nav-link active" href="{{ url_for('departments') }}">Departments</a>
    {% else %}
    <a class="nav-link" href="{{ url_for('departments') }}">Departments</a>
    {% endif %}
  </li>
  <li class="nav-item">
    {% if request.url_rule|string == url_for('adjacency')|string %}
    <a class="nav-link active" href="{{ url_for('adjacency') }}">Adjacency</a>
    {% else %}
    <a class="nav-link" href="{{ url_for('adjacency') }}">Adjacency</a>
    {% endif %}
  </li>
  <li class="nav-item">
    {% if request.url_rule|string == url_for('floor_plan')|string %}
    <a class="nav-link active" href="{{ url_for('floor_plan') }}">Floor plan</a>
    {% else %}
    <a class="nav-link" href="{{ url_for('floor_plan') }}">Floor plan</a>
    {% endif %}
  </li>
  <li class="nav-item">
    {% if request.url_rule == url_for('floor_plan') %}
    <a class="nav-link active" href="{{ url_for('floor_plan') }}">Export</a>
    {% else %}
    <a class="nav-link" href="{{ url_for('floor_plan') }}">Export</a>
    {% endif %}
  </li>
  {% if current_user.is_anonymous %}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
  </li>
  {% endif %}
</ul>
</nav>
</div>
{% endblock %}

{% block content %}
<style>
  * {
      margin: 0;
      padding: 0;
  }

  .full-width {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
  }
</style>

<div class="container full-width">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-info" role="alert">{{ message }}</div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  {# application content needs to be provided in the app_content block #}
  {% block app_content %}{% endblock %}
</div>
{% endblock %}
