{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
<div class="row">
  <div class="col-md-4">
    {{ wtf.quick_form(form) }}
  </div>

  <div class="col-md-4">

    <table class="table table-hover" width=100%>
      <thead>
        <th width=30%>Name</th>
        <th width=30%>Size</th>
        <th align="right"></th>
      </thead>
      {% for department in departments %}
      <tbody>
        <tr>
          {% include '_department.html' %}
        </tr>
      </tbody>
      {% endfor %}

    </table>
  </div>
  </div>

  {% endblock %}
