{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.11.5/paper-full.js"></script>
  <script type = "text/javascript" src="{{ url_for('static', filename='vis/dist/vis.js') }}"></script>
  <link href = "{{ url_for('static', filename='vis/dist/vis.css') }}" rel="stylesheet" type="text/css" />
</head>

<style type="text/css">
  canvas {
    background-color: white;
    width: 100%;
    height: auto;
  }
  .network {
    height: 300px;
    width: 100%;
  }
  .subnetwork {
    height: 200px;
    width: 100%;
  }
</style>

<p></p>
<div class="row">
  <div class="col-md-7">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Suggested floor plan</h5>
        <canvas class="floor_canvas" id="canvas_1" width="300" height="100"></canvas>
        <button id="generate_button" class="btn btn-primary">Generate new layout</button>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Groups</h5>
        <div class="network" id="group_network"></div>
      </div>
    </div>
    <p></p>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-1"><svg width="40" height="40"><circle cx="20" cy="20" r="16" stroke="black" stroke-width="3" fill="lightgrey" /></svg></div>
              <div class="col-md-3">Public room (double click to make private)</div>
              <div class="col-md-1"><svg width="40" height="40"><circle cx="20" cy="20" r="16" stroke="black" stroke-width="1" fill="lightgrey" /></svg></div>
              <div class="col-md-3">Private room (double click to make public)</div>
              <div class="col-md-1"><svg width="40" height="40"><line x1="0" y1="20" x2="40" y2="20" style="stroke:rgb(0,0,0);stroke-width:1" /></svg></div>
              <div class="col-md-3">Link (click on link to remove, click on two rooms to add link)</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p></p>
<div class="row">
  <div class="col-md-7">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add group</h5>
        <div class="row">
          <div class="col-md-4">
            <input name = "name_of_group" id="name_of_group" type="text" class="form-control">
          </div>
          <div class="col-md-4">
            <button id="add_group_button" class="btn btn-primary">New group</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5" id = 'groups'>
  </div>

</div>

<div class="col-md-7" style="display: none;">
  <div class="card">
    <div class="card-body">
      <canvas id="canvas_plot"></canvas>
    </div>
  </div>
</div>

<script type="text/paperscript" canvas='canvas_plot' src = "{{ url_for('static', filename='js/floor_plan.js') }}"></script>

{% endblock %}
